/* Daynamic Music Player CSS */
body {
    margin: 0;
    font-family: Arial;
    background: #203453;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.player {
    width: 900px;
    display: grid;
    grid-template-columns: 300px 1fr 250px;
    gap: 20px;
    background: #1f2f4e;
    padding: 20px;
    border-radius: 15px;
}

.cover img {
    width: 100%;
    border-radius: 10px;
}

.main-controls button {
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 10px;
    border: none;
    background: #6ee7b7;
    cursor: pointer;
}

.controls input[type="range"] {
    width: 100%;
}
/* Work the second day */
.time-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-row {
    margin: 10px 0;
}

.playlist {
    max-height: 400px;
    overflow-y: auto;
    background: #1a2335;
    padding: 10px;
    border-radius: 10px;
}
.track {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.track:hover {
    background: rgba(255,255,255,0.1);
}

.track.active {
    background: rgba(110,231,183,0.2);
}
